{
  "presets": ["es2015", "es2017", "stage-0", "stage-2"],
  "plugins": [
  	"syntax-async-functions",
  	"transform-regenerator",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
